<div class="editor-wrapper">
  <div class="editor-container">
    <div #editor class="editor-instance" [style.min-height]="height"></div>
  </div>

  <div class="editor-actions">
    <label nz-button nzType="primary" class="upload-btn">
      <span nz-icon nzType="picture" nzTheme="outline"></span>
      Upload Image
      <input
        type="file"
        accept="image/*"
        (change)="onImageUpload($event.target?.files?.[0])"
        style="display: none"
      />
    </label>
  </div>
</div>
